.action {
    width: 336px;
    height: 94px;
    background-color: white;
    border: 1px solid #969696;
    font-size: 48px;
}

.operation {
    width: 120px;
    height: 94px;
    color: white;
    background-color: #980029;
    font-size: 48px;
    border: 1px solid #969696;
}

.number {
    width: 112px;
    height: 94px;
    background-color: white;
    font-size: 48px;
    border: 1px solid #969696;
}